@model WebHS.Domain.Entities.Dieta
@{
    ViewData["Title"] = "Index";
}

<table id="tabela" class="table">
    <thead>
        <tr>
            <th scope="col" width="90%">Usuário</th>
            <th width="5%"></th>
            <th width="5%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dietas)
        {
            <tr>
                <td>@item.Usuario.Nome</td>
                @{
                    if (item.Id == 0)
                    {
                        <td><i class="far fa-dot-circle fa-2x" style="margin-top: 3px; color:deeppink"></i></td>
                    }
                    else
                    {
                        <td><i class="far fa-dot-circle fa-2x" style="margin-top: 3px; color:lawngreen"></i></td>
                    }
                }
                <td><a class="btn btn-warning" asp-controller="Dieta" asp-action="Criar" asp-route-id="@item.Usuario.Id"><i class="fas fa-angle-double-right"></i></a></td>
            </tr>
        }
    </tbody>
</table>


