@model WebHS.Domain.Entities.Usuario
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@{
    foreach (var item in Model.Usuarios)
    {
        <h1>@item.Nome</h1>
        <a class="btn btn-warning" asp-controller="Dieta" asp-action="Criar" asp-route-id="@item.Id">Selecionar</a>
    }
}

